
<div class="product-container">
    @for (item of productos; track $index) {
      <div class="product-card">
        <div class="product-image-container">
          <img src="{{item.imageUrl}}" alt="{{item.name}}"  class="product-image" >
          @if (item.isOfert) {
            <span class="sale-beige">
              En oferta
            </span>
          }
         
          </div>
        <div class="product-details">
          <h4 class="product-title">{{item.name}} | uppercase</h4>
          <p class="product-price">{{item.price}}</p>
          <p class="product-description">{{item.description}}</p>
        </div>
      </div>
    }

   
  </div>