<button mat-flat-button (click)="openDialog()"> Nuevo</button>

<div>Total producto:{{productos?.length}}</div>
<div class="product-container">
    @for (item of productos; track item.id) {
        <div class="product-card">
            <div class="product-image-container">
                <img src="{{item.imageUrl}}" alt="{{item.name}}" class="product-image">
                @if (item.isOferta){
                    <span class="sale-badge">
                        En oferta
                    </span>
                }
            </div>
            <div class="product-details">
                <h4 class="product-title">{{item.name}}</h4>
            
            <div class="price-container">
                <p [ngClass]="{'product-price-oferta':item.isOferta,'product-price':!item.isOferta}">{{item.finalPrice|currency:'S/.'}}</p>
                @if(item.isOferta){
                    <p class="oferta-precio">{{item.porcentajeOfert|percent}}</p>
                }
            </div>
            @if(item.isOferta){
                <p class="tachado product-price">{{item.price|currency:'S/.'}}</p>
            }
            <p class="product-description">{{item.description|pipeText}}</p>
                
            </div>
            <a [routerLink]="[item.id]" class="view-product-button">Ver</a>
        </div>
    }
    
    <div>
        
    </div>
</div>
